{
    "apps" : [{
        "name": "surma",
        "script": "./index.js",
        "watch": false,
        "env": {
            "MODE": "dev",
            "PORT": "9090",
            "REDIS": {
                "enabled": false,
                "host": "127.0.0.1",
                "port": 6379
            },
        }
    }]
}