@import '../helpers.css';

.root {
    @extend .disable-select-and-taphl;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--accent-color);
    height: var(--appbar-height);
    min-height: var(--appbar-min-height);
    z-index: var(--z-index-appbar);
    padding: 0 12px;
    margin: 0;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.button {
    @extend .disable-select-and-taphl;
    z-index: 1;
    border: 0;
    color: #fff;
    padding: 8.5px;
    background-color: transparent;
    transition: var(--transition-time);
    cursor: pointer;
    outline: 0;
    &:hover,
    &:active {
        background-color: color(var(--accent-color) whiteness(20%));
    }
    svg {
        color: #fff !important;
    }
}

.title {
    @extend .disable-select-and-taphl;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    height: auto;
    line-height: initial;
    padding-left: 12px;
    flex: 0 1 100%;
    text-align: left
}